<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.starfishrespect.myconsumption.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="org.starfishrespect.myconsumption.android.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="org.starfishrespect.myconsumption.android.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyConsumption.Base" >

        <receiver
            android:name=".notifications.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="org.starfishrespect.myconsumption.android.notifications" />
            </intent-filter>
        </receiver>
        <service android:name=".notifications.GCMIntentService" android:enabled="true" />


        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.ChartActivity" />
        <activity android:name=".ui.StatActivity" />
        <activity android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.ChartActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ChartActivity" />
        </activity>
        <activity android:name=".ui.ComparisonActivity" />
        <activity android:name=".ui.HelloWorldActivity" />


        <activity
            android:name=".ui.AddSensorActivity"
            android:label="Create Sensor"/>

        <activity
            android:name=".ui.CreateAccountActivity"
            android:label="Create Account" />
    </application>

</manifest>
