<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.starfishrespect.myconsumption.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyConsumption.Base" >

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ChartActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.StatActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.HelloWorldActivity"
            android:label="@string/title_helloworld" />

        <activity
            android:name="ui.AddSensorActivity"
            android:label="Create Sensor"/>

        <activity
            android:name="ui.CreateAccountActivity"
            android:label="Create Account" />
    </application>

</manifest>
